@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

/* padding is included in size */

body {
    /* font-family: Helvetica, Tahoma, Verdana, sans-serif; */
    font-family: Raleway, Tahoma, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

.box {
    background-color: red;
    width: 200px;
    padding: 20px;
}

/* attribute selectors */
input[type='number']{
    font-family: Roboto;
}

label[for='year']{
    font-family: roboto;
}

/* pseudo-classes */

ul.top-level-list:hover {
    cursor: pointer;
}

/* pseudo-elements */
.comments.title {

}