@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

/* padding is included in size */

body {
    /* font-family: Helvetica, Tahoma, Verdana, sans-serif; */
    font-family: Raleway, Tahoma, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

.box {
    background-color: red;
    width: 200px;
    padding: 20px;
}

/* attribute selectors */
input[type='number']{
    font-family: Roboto;
}

label[for='year']{
    font-family: roboto;
}

/* pseudo-classes */

ul.top-level-list:hover {
    cursor: pointer;
}

/* pseudo-elements */
#comments-title::first-letter {
    font-size: 60px;
    color: seagreen;
}

/* child selector */
/* > means only select direct/nested children */
.top-level-list > li {
    border: 1px solid;
}

/* adjacent sibling selector */
/* only selects divs that has divs before them */
div + div {
    color: green;
}

/* general sibling selector */
input ~ input {
    border: 1px solid red;
}

/* dynamic values */
/* em - rem - % - vw - vh */